
/* === FONT === */

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

/* ## Colors

### Primary

- Soft Blue: hsl(231, 69%, 60%)
- Soft Red: hsl(0, 94%, 66%)

### Neutral

- Grayish Blue: hsl(229, 8%, 60%)
- Very Dark Blue: hsl(229, 31%, 21%) */


html, body{
    box-sizing: border-box;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
}

/* === GENERAL === */

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.grid-container {
    display: grid;
    grid-template-rows: 80%;
    grid-template-columns:30% 30% 40%;
}

.btn button{
    padding: 1rem;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
    border-radius: .2rem;
    border: none;
}

/* === NAVBAR === */

.navbar {
   position: relative;
   margin-left: 2rem;
   margin-right: 2rem;
   top: 2rem;
   justify-content: space-between;
}

.image-sizing {
    width: 7.5rem;
    height: 1.4rem;
    align-self: center;
}
dsad
dadad
dad
/* === LOGO UNDER THE NAVBAR === */

dad
#logo-under-navbar {
    margin-top: 5rem;
}

.under-navbar-container {
    
   position: relative;
   top: 3rem;

} 

.logo-under-navbar-bg {
    background-color: hsl(231, 69%, 60%);
    grid-row-start: 1;
    grid-column-start: 2;
    grid-column-end: 4;
    border-radius: 50% 0 0 50%;;
}

#logo-under-navbar img {
    width: 315%;
    height: auto;
    position: relative;
    bottom: 2rem;
    left: .6rem;
    bottom: 3rem;
}

/* === BOOKMARK-MANAGER === */

#bookmark-manager {
    margin-top: 2rem;
}

.book-manager-container {
    flex-direction: column;
    justify-content: center;
}

.flex-container > h1 {
    text-align: center;
    color: hsl(229, 31%, 21%);
    font-size: 1.7rem;
}

.flex-container > p {
    text-align: center;
    padding-right: 1rem;
    padding-left: 1rem;
    color: hsl(229, 8%, 60%);
    margin-bottom: 2rem;
    margin-top: 0;
}

.btn-items > button {
    flex-direction: row;
}

.btn_1 {
    color: #FFF;
    background-color: hsl(231, 69%, 60%);
    box-shadow:  0 0 .5em hsl(231, 69%, 60%);
    margin-right: .3rem;
    margin-left: .1rem;
    font-weight: bold;
}

.btn_2 {
    color: hsl(229, 8%, 60%);
    background-color: hsl(225, 5%, 96%);
    box-shadow:  0 0 .5em hsl(229, 8%, 60%);
    margin-left: .3rem;
    font-weight: bold;
}

/* === MEDIA QUERIES === */

@media (max-width: 328px) {
    .btn-items > button {
        display: flex;
        flex-direction: row;
        margin-bottom: .7rem;
    }
}