
/* === FONT === */

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

/* ## Colors

### Primary

- Soft Blue: hsl(231, 69%, 60%)
- Soft Red: hsl(0, 94%, 66%)

### Neutral

- Grayish Blue: hsl(229, 8%, 60%)
- Very Dark Blue: hsl(229, 31%, 21%) */


html, body{
    box-sizing: border-box;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: 400;
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
}

/* === GENERAL === */

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.grid-container {
    display: grid;
    grid-template-rows: 78%;
    grid-template-columns:30% 30% 40%;
}

.grid-extension {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns:1fr;
}

.tab-grid-container {
    margin-bottom: 4rem;
    position: relative;
    top: 3rem;
    display: grid;
    grid-template-rows: 90%;
    grid-template-columns:50% 30% 30%;
 } 

.btn button{
    padding: 1rem;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
    border-radius: .2rem;
    border: none;
}

/* === NAVBAR === */

.navbar {
   position: relative;
   margin-left: 2rem;
   margin-right: 2rem;
   top: 2rem;
   justify-content: space-between;
}

.image-sizing {
    width: 7.5rem;
    height: 1.4rem;
    align-self: center;
}

/* === LOGO UNDER THE NAVBAR === */

#logo-under-navbar {
    margin-top: 5rem;
}

.under-navbar-container {
    
   position: relative;
   top: 3rem;

} 

.logo-under-navbar-bg {
    background-color: hsl(231, 69%, 60%);
    grid-row-start: 1;
    grid-column-start: 2;
    grid-column-end: 4;
    border-radius: 50% 0 0 50%;
}

#logo-under-navbar img {
    width: 315%;
    height: auto;
    position: relative;
    bottom: 2rem;
    left: .6rem;
    bottom: 3rem;
}

/* === BOOKMARK-MANAGER === */

#bookmark-manager {
    margin-top: 2rem;
}

.book-manager-container {
    flex-direction: column;
    justify-content: center;
    margin-bottom: 8rem;
}

.flex-container > h1 {
    text-align: center;
    color: hsl(229, 31%, 21%);
    font-size: 1.7rem;
}

.flex-container > p {
    text-align: center;
    padding-right: 30px;
    padding-left: 30px;
    color: hsl(229, 8%, 60%);
    margin-bottom: 2rem;
    margin-top: 0;
}

.btn-items > button {
    flex-direction: row;
}

.btn_1 {
    color: #FFF;
    background-color: hsl(231, 69%, 60%);
    box-shadow:  0 0 .5em hsl(231, 69%, 60%);
    margin-right: .3rem;
    margin-left: .1rem;
    font-weight: bold;
}

.btn_2 {
    color: hsl(229, 8%, 60%);
    background-color: hsl(225, 5%, 96%);
    box-shadow:  0 0 .5em hsl(229, 8%, 60%);
    margin-left: .3rem;
    font-weight: bold;
}

/* === FEATURES-AREA === */

.features-container {
    flex-direction: column;
}

.features-container p {
    text-align: center;
}

.features-container span {
    color: hsl(229, 8%, 60%);
}

.features-line_margin {
    border: none;
    height: 1px;
    background-color: hsl(229, 8%, 60%);
    width: 300px;
    margin-top: 30px;
    margin-bottom: 0;
}

.features-line {
    border: none;
    height: 1px;
    background-color: hsl(229, 8%, 60%);
    width: 300px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.active-feature-container-1 {
    position: relative;
    bottom: 1rem;
}


.active-feature_1 {
    border: none;
    height: 4px;
    background-color: hsl(0, 94%, 66%);
    width: 150px;
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
    top: 1.7rem;
}

.active-feature_2 {
    border: none;
    height: 4px;
    background-color: hsl(0, 94%, 66%);
    width: 150px;
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
    top: 1rem;
}

.active-feature_3 {
    border: none;
    height: 4px;
    background-color: hsl(0, 94%, 66%);
    width: 150px;
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
    top: 1rem;
}

/* === TAB-TEXT === */

#tab-text {
    position: relative;
    bottom: 2rem;
}

#tab-container {
    margin-top: 5rem;
}


.tab-bg {
    background-color: hsl(231, 69%, 60%);
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 3;
    border-radius: 0 50% 50% 0;
}

#tab-container img {
    width: 105%;
    height: auto;
    position: relative;
    bottom: 2rem;
    left: 1.8rem;
    bottom: 3rem;
}

.tab-text-container {
     flex-direction: column;
}

.tab-text-container h1 {
    margin-top: 0;
    margin-bottom: .9rem;
}

/* === DOWNLOAD-EXTENSION === */

.flex-exention-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-bottom: 8rem;
}

.extension-container {
    flex-direction: column;
}

.extension-container h1{
    font-size: 1.3rem;
    margin-bottom: .7rem;
}

.flex-items {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.extension-bg {
    display: flex;
    background-color: #FFF;
    box-shadow:  0 0 .5em hsl(172, 8%, 85%);
    width: 75%;
    height: 19rem;
    border-radius: 1rem;
    align-items: center;
    flex-direction: column;
}

.extension-bg > img {
   width: 5rem;
   height: 5rem;
   margin-top: 2rem;
}

.extension-header {
    font-size: 1.2rem;
    margin-top: 1.5rem;
    margin-bottom: 0;
    color: hsl(229, 31%, 21%);
}

.extension-text {
    font-size: .9rem;
    margin-top: .6rem;
    color: hsl(229, 8%, 60%);
}


  .dotted-spaced {
    width: 100%;
    background-image: linear-gradient(to right, hsl(229, 8%, 60%) 10%, rgba(255, 255, 255, 0) 0%);
    background-position: top;
    background-size: 20px 3px;
    background-repeat: repeat-x;
    margin-top: .7rem;
  }

  .extension-button {
    margin-top: .5rem;
    padding: 1rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    border-radius: .2rem;
    border: none;
    color: #FFF;
    font-weight: 600;
    background-color: hsl(231, 69%, 60%);
  }

  /* === FAQ === */

  .faq-container {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
    margin-right: 1rem;
  }

#faq {
    display: flex;
    flex-direction: column;
}


  .faq-items {
    margin-top: 2rem;
    position: relative;
    bottom: 1rem;
    font-size: 14px;
    font-weight: 500;
    color: hsl(229, 31%, 21%);
    display: flex;
    flex-direction: column;
}

.faq-inside-items {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    justify-content: space-between;
}

.arrow-down {
    align-self: flex-end;
}

.faq-container > h1 {
    text-align: center;
    color: hsl(229, 31%, 21%);
    font-size: 1.7rem;
}

.faq-container > p {
    text-align: center;
    padding-right: 30px;
    padding-left: 30px;
    color: hsl(229, 8%, 60%);
    margin-bottom: 2rem;
    margin-top: 0;
}


.faq-line {
    border: none;
    height: 1px;
    background-color: hsl(229, 8%, 60%);
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}


.arrow-color-change {
    animation: change 5s infinite;
}

.arrow-text-1 {
 margin-top: 2rem;
 display: none;
 color: hsl(229, 8%, 60%);
}

.arrow-text-2 {
    margin-top: 2rem;
    display: none;
    color: hsl(229, 8%, 60%);
}

.arrow-text-3 {
    margin-top: 2rem;
    display: none;
    color: hsl(229, 8%, 60%);
}

.arrow-text-4 {
    margin-top: 2rem;
    display: none;
    color: hsl(229, 8%, 60%);
}

@keyframes change {
    
    0%  {transform: rotateZ(180deg);
        filter: grayscale(100%) brightness(100%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(0.8);}
    100%  {transform: rotateZ(180deg);
        filter: grayscale(100%) brightness(100%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(0.8);}

}

#more_info {
    padding: .9rem;
    padding-left: 1.3rem;
    padding-right: 1.3rem;
    border-radius: .2rem;
    border: none;
    color: #FFF;
    background-color: hsl(231, 69%, 60%);
    font-weight: bold;
    margin-top: .3rem;
    margin-bottom: 1rem;
}

/* === EMAIL-LIST === */

#email-list {
    background-color: hsl(231, 69%, 60%);
    margin-top: 6rem;
    width: 100%;
    height: 20rem;
}

.email-container {
    flex-direction: column;
}

.email-container > span {
    font-size: 13px;
    margin-top: 3rem;
    color: #FFF;
    letter-spacing: .2rem;
}

.email-container h1 {
    margin-top: .6rem;
    color: #FFF;
    font-size: 25px;
    font-weight: 400;
}


#email-form-bg {
    padding-top: .1rem;
    padding-right: .1rem;
    padding-left: .2rem;
    padding-bottom: .9rem;
    border-radius: .4rem .4rem .4rem .4rem;
    
    /* switcher background: none; */
    
} 

form p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 12px;
    position: relative;
    top: .25rem;
    left: .5rem;
    color: #FFF;
    
}

.email-input {
    height: 2.5rem;
    width: 16rem;
    border: none;
    border-radius: .3rem;
    position: relative;
    right: .1rem;
    font-weight: bold;
    display: inline;
    padding-right: .8rem;
    padding-left: .8rem;
    background-image: url(../images/icon-error.svg); 
    background-repeat: no-repeat;
    background-position: 95% 50%;
    background-size: 0px;
}



.email-button {
    margin-top: 1rem;
    padding: .9rem;
    padding-left: 7rem;
    padding-right: 7rem;
    border-radius: .2rem;
    color: #FFF;
    font-weight: bold;
    background-color: hsl(0, 94%, 66%);
    border: none;
}


/* === Bookmark-FOOTER === */

#bookmark-footer {
    background-color: hsl(229, 31%, 21%);
    width: 100%;
    height: 20rem;
    display: flex;
    justify-content: center;
}

.grid-footer {
    margin-top: 3rem;
    display: grid;
    grid-template-rows: 60px 60px 60px 60px;
    grid-template-columns: 1fr;
}


.grid-footer span {
    text-align: center;
    color: hsl(229, 8%, 60%); 
}

.icon-items {
    display: flex;
    gap: 2.5rem;
    justify-content: center;
}

.icon-items img {
    width: 1.5rem;
    height: 1.5rem;
}


/* === MEDIA QUERIES === */

@media (max-width: 328px) {
    .btn-items > button {
        display: flex;
        flex-direction: row;
        margin-bottom: .7rem;
    }
}